/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}


img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 5rem;
    margin-bottom: 50px;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: 800;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Utils */
.flex {
    display: flex;
}

.border {
    border: 1px solid black;
}

.btn {
    padding: 10px 15px;
    display: inline-block;
    max-height: 60px;
}

.btn:hover {
    scale: 1.1;
}

.btn:active {
    scale: 0.9;
}

.btn-small {
    padding: 5px 10px;
    display: inline-block;
}

.btn-blue {
    background-color: #0061FF;
    color: white;
    margin: 15px 0;
    display: inline-block;
}

.btn-white {
    background-color: white;
    color: black;
    margin: 15px 0;
    border: 1px solid black;
    margin-top: 30px;
    display: inline-block;
}

.btn-white-excp {
    background-color: white;
    color: black;
    margin: 15px 0;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    bottom: 50px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-27 {
    margin-top: 27px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-30 {
    padding-top: 30px;
}


.mt-20 {
    margin-top: 20px;
}

.mt-16 {
    margin-top: 16px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-600 {
    margin-left: 600px;
}

.a .solid {
    border: 1px solid black;
    border-width: 100%;
}

.normal {
    color: #3E3EF2;
    text-decoration: underline;
}

.decoration {
    text-decoration: underline;
    color: #4230F1;
}

.bb {
    border-bottom: 1px solid #E3E3E5;
}

.border-grey {
    border: 1px solid #E3E3E5;
    width: 55px
}

.bb-black {
    border-bottom: 1px solid black;
}

.bt-black {
    border-top: 1px solid black;
}

.fw-800 {
    font-weight: 900;
    font-size: 1.5rem;
}

.txt-xl {
    font-size: 1.8rem;
}

.color-granada {
    color: #61082B;
}

.border-white {
    border: 1px solid white;
    width: 120px;
}

.img-w-50 {
    width: 50%;
    filter: invert(1);
}

.img-w-40 {
    width: 40%;
}

.mt-80 {
    margin-top: 80px;
}

.mt-60 {
    margin-top: 80px;
}

/* Header */

.navbar {
    height: 80px;
    min-width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-nav {
    height: 50px;
    width: 500px;
}

.right-nav {
    justify-content: flex-end;
    height: 50px;
    width: 500px;
}

/* Jumbotron */

.container {
    max-width: 1200px;
    margin: 0 auto;

}

#jumbotron {
    background-color: #B4D0E7;
    min-height: 650px;
}


.row-jumb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-jumb-30 {
    flex-basis: 30%;
}

.col-jumb-70 {
    flex-basis: 70%;
}

#jumbotron .container {
    position: relative;
    top: 75px;
}

/* Main */


/* Price section */

#price {
    background-color: white;
    min-height: 650px;
}

.fatturazione {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-left: 5px;
}

.blue-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #0061FF;
    position: absolute;
    top: 123px;
    left: 4px;
}

.mensile {
    position: absolute;
    top: 120px;
    left: 25px;
}

.grey-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #D4D4D7;
    position: absolute;
    top: 123px;
    left: 250px;

}

.annuale {
    position: absolute;
    top: 120px;
    left: 270px;
}

.header-card {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 40px;
    flex-wrap: wrap;
    min-width: 100%;
    border-bottom: 1px solid #E3E3E5;
}

.header-card-100 {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 30px;
    min-width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid #E3E3E5;
}

.card-content {
    padding: 30px 24px;
}

.card-content-100 {
    padding: 0 20px;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row.g-20>.col-33 {
    padding: 0 40px;
}

.row.g-20 {
    margin: 0 -40px;
}


.col-33 {
    flex-basis: calc(100% / 3);
    min-height: 600px;
}


.col-100 {
    min-height: 260px;
    margin-top: 70px;
    border: 1px solid #E3E3E5;
}

.plans-card {
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #E3E3E5;
}

.plans-card-100 {
    min-height: 210px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}


#price .container {
    position: relative;
    top: 100px;
}

.enterprise-box {
    display: flex;
    min-height: 40px;
    min-width: 1140px;
    justify-content: space-between;
    text-align: center;
}

.enterprise {
    position: relative;
    top: 30px;
}

.soluzioni {
    position: relative;
    top: 45px;
}


/* Partner */

.partner-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 245px;
}



.white-container {
    min-height: 500px;
    min-width: 30%;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 240px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 100px
}

.contact-img-box {
    flex-basis: 70%;
    min-height: 450px;
}

.contact-box {
    flex-basis: 30%;
    height: 450px;
    padding: 0 20px;
}

.contact-box>h3 {
    padding-bottom: 20px;
}

/* Business Features */

.simplify-container {
    min-width: 75%;
    min-height: 800px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding-left: 17%;
    padding-right: 17%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.simplify-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.simplify-col {
    flex-basis: calc(100% / 6 - 399px / 6);
    margin: 10px 10px;
}

.simplify-card {
    min-height: 300px;
    min-width: 382px;
}

/* Team */

.team-container {
    max-width: 1200px;
    margin: 120px auto;
}

.team-box {
    flex-basis: 100%;
    min-height: 200px;
}

/* Designit */

#designit {
    margin-top: 50px;
    display: flex;
}

.big-box {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.big-box-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 30px;
}

.small-box {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid transparent;
}


.bcg-A2D39B {
    background-color: #A2D39B;
}

.bcg-61082B {
    background-color: #61082B;
}

.bcg-0093CE {
    background-color: #0093CE;
}

.bcg-FF1C1C {
    background-color: #FF1C1C;
}

.bcg-D5001F {
    background-color: #D5001F;
}

.bcg-B4D0E7 {
    background-color: #B4D0E7;
}

.bcg-0D2481 {
    background-color: #0D2481;
}

.bcg-FFD830 {
    background-color: #FFD830;
}

.small-box:hover {
    border-color: rgba(255, 255, 255, 0.5);
}


/* Business */

.business {
    background-color: #B4D0E7;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-container {
    max-width: 1200px;
    margin: 120px auto;
    background-color: #B4D0E7;
}

.business-box {
    min-width: 1200px;
    min-height: 200px;
    background-color: #B4D0E7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-container {
    max-width: 1200px;
    margin: 120px auto;
}

.question-box {
    flex-basis: 100%;
    min-height: 500px;
    background-color: white;
}

/* Footer */

.bgc-black {
    background-color: black;
    height: 530px;
    display: flex;
    justify-content: center;
}

.footer-container {
    max-width: 1200px;
    margin: 120px auto;
    justify-content: space-between;
}

.dropbox-box {
    min-height: 400px;
    width: 200px;
    color: white;
    margin-right: 40px;
}

.prodotti-box {
    min-height: 400px;
    width: 200px;
    color: white;
    margin-right: 40px;
}

.azienda-box {
    min-height: 400px;
    width: 200px;
    color: white;
    margin-right: 40px;
}

.supporto-box {
    min-height: 400px;
    width: 200px;
    color: white;
    margin-right: 40px;
}

.community-box {
    min-height: 400px;
    width: 300px;
    color: white;
}

.footer-container h3 {
    font-size: 1.5rem;
}