/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}


img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 5rem;
    margin-bottom: 50px;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: 800;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}


/* Utils */
.flex {
    display: flex;
}

.border {
    border: 1px solid black;
}

.btn {
    padding: 10px 15px;
    display: inline-block;
    max-height: 60px;
}

.btn-small {
    padding: 5px 10px;
}

.btn-blue {
    background-color: #0061FF;
    color: white;
    margin: 15px 0;
}

.btn-white {
    background-color: white;
    color: black;
    margin: 15px 0;
    border: 1px solid black;
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-27 {
    margin-top: 27px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}


.mt-20 {
    margin-top: 20px;
}

.mt-16 {
    margin-top: 16px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.a .solid {
    border: 1px solid black;
    border-width: 100%;
}

.normal {
    color: #3E3EF2;
    text-decoration: underline;
}

.decoration {
    text-decoration: underline;
    color: #4230F1;
}

.bb {
    border-bottom: 1px solid #E3E3E5;
}

.fw-800 {
    font-weight: 900;
    font-size: 1.5rem;
}

.txt-xl {
    font-size: 1.8rem;
}

/* Header */

.navbar {
    height: 80px;
    min-width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.left-nav {
    height: 50px;
    width: 500px;
}

.right-nav {
    justify-content: flex-end;
    height: 50px;
    width: 500px;
}

/* Jumbotron */

.container {
    max-width: 1200px;
    margin: 0 auto;

}

#jumbotron {
    background-color: #B4D0E7;
    min-height: 650px;
}


.row-jumb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-jumb-30 {
    flex-basis: 30%;
}

.col-jumb-70 {
    flex-basis: 70%;
}

#jumbotron .container {
    position: relative;
    top: 75px;
}

/* Main */


/* Price section */

#price {
    background-color: white;
    min-height: 650px;
}

.fatturazione {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-left: 5px;
}

.blue-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #0061FF;
    position: absolute;
    top: 123px;
    left: 4px;
}

.mensile {
    position: absolute;
    top: 120px;
    left: 25px;
}

.grey-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #D4D4D7;
    position: absolute;
    top: 123px;
    left: 250px;

}

.annuale {
    position: absolute;
    top: 120px;
    left: 270px;
}

.header-card {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 40px;
    flex-wrap: wrap;
    min-width: 100%;
    border-bottom: 1px solid #E3E3E5;
}

.header-card-100 {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 30px;
    min-width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid #E3E3E5;
}

.card-content {
    padding: 30px 24px;
}

.card-content-100 {
    padding: 0 20px;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row.g-20>.col-33 {
    padding: 0 40px;
}

.row.g-20 {
    margin: 0 -40px;
}


.col-33 {
    flex-basis: calc(100% / 3);
    min-height: 600px;
}


.col-100 {
    min-height: 260px;
    margin-top: 70px;
    border: 1px solid #E3E3E5;
}

.plans-card {
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #E3E3E5;
}

.plans-card-100 {
    min-height: 210px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}


#price .container {
    position: relative;
    top: 100px;
}

.enterprise-box {
    display: flex;
    min-height: 40px;
    min-width: 1140px;
    justify-content: space-between;
    text-align: center;
}

.enterprise {
    position: relative;
    top: 30px;
}

.soluzioni {
    position: relative;
    top: 45px;
}


/* Partner */

.partner-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 245px;
}



.white-container {
    min-height: 500px;
    min-width: 30%;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 240px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 100px
}

.contact-img-box {
    flex-basis: 70%;
    min-height: 450px;
}

.contact-box {
    flex-basis: 30%;
    height: 450px;
    padding: 0 20px;
}

.contact-box>h3 {
    padding-bottom: 20px;
}

/* Business Features */

.simplify-container {
    min-width: 75%;
    min-height: 800px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding-left: 17%;
    padding-right: 17%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.simplify-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.simplify-col {
    flex-basis: calc(100% / 6 - 399px / 6);
    margin: 10px 10px;
}

.simplify-card {
    min-height: 300px;
    min-width: 382px;
}

/* Team */

.team-container {
    max-width: 1200px;
    margin: 120px auto;
}

.team-box {
    flex-basis: 100%;
    min-height: 200px;
}

/* Designit */

.designit {
    max-width: 100%;
    max-height: 600px;
    margin: 0 auto;
    background-color: white;
}

.designit-container {
    height: 600px;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: 0;
}

.designit-box {
    height: 600px;
    width: 615px;
}


.designit-box-info {
    height: 600px;
    width: 615px;
    padding: 40px 40px;
}

.designit-box-squares {
    height: 600px;
    width: 612px;
}



#designit-logo {
    height: 300px;
    width: 300px;
    background-color: #A2D39B;
    background-image: url(./img/designit.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

#arizona-logo {
    height: 300px;
    width: 300px;
    background-color: #61082B;
    position: relative;
    left: 300px;
    bottom: 300px;
    background-image: url(./img/arizona_state_university.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

#florida-logo {
    height: 300px;
    width: 300px;
    background-color: #0093CE;
    position: relative;
    bottom: 300px;
    background-image: url(./img/university_of_florida.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

#toops-logo {
    height: 300px;
    width: 300px;
    background-color: #FF1C1C;
    position: relative;
    left: 300px;
    top: -600px;
    background-image: url(./img/topps.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

#world-logo {
    height: 300px;
    width: 300px;
    background-color: #D5001F;
    position: relative;
    left: 0;
    background-image: url(./img/world_bicycle_relief.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

#hearst-logo {
    height: 300px;
    width: 300px;
    background-color: #B4D0E7;
    position: relative;
    left: 300px;
    top: -300px;
    background-image: url(./img/hearst_corp.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

#lonely-logo {
    height: 300px;
    width: 300px;
    background-color: #0D2481;
    position: relative;
    top: -300px;
    left: 0;
    background-image: url(./img/lonely_planet.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

#clear-logo {
    height: 300px;
    width: 300px;
    background-color: #FFD830;
    position: relative;
    left: 300px;
    top: -600px;
    background-image: url(./img/clear_channel.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}


.business {
    background-color: #B4D0E7;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-container {
    max-width: 1200px;
    margin: 120px auto;
    background-color: #B4D0E7;
}

.business-box {
    min-width: 1200px;
    min-height: 200px;
    background-color: #B4D0E7;
}

.question-container {
    min-height: 300px;
    min-width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.question-box {
    flex-basis: 100%;
    min-height: 500px;
    background-color: darkcyan;
}

/* Footer */

.footer-container {
    min-height: 300px;
    min-width: 80%;
    background-color: #23272A;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.dropbox-box {
    background-color: salmon;
    min-height: 300px;
    width: 200px;
}